*{
    box-sizing: border-box;
}
body{
    font-family: "poppins",sans-serif;
    margin: 0;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #03a9f4
}
.container{
    width: 800px;
    height: 500px;
   padding: 40px 0;
}
.block{
    height: 100%;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);
}
.block-item{
    text-align: center;
}
.block-item_title{
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    margin-bottom:10px ;
}
.block-item_btn{
    border: none;
    cursor: pointer;
    padding: 10px  20px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}